# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [20]:
# Your code goes here
import pandas as pd

# URLs of the data files
url_file1 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
url_file2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
url_file3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"

# Function to clean and format the data
def clean_data(df):
    # Remove any leading or trailing spaces in column names
    df.columns = df.columns.str.strip()
    
    # Convert date columns to datetime format if applicable
    if 'DateOfBirth' in df.columns:
        df['DateOfBirth'] = pd.to_datetime(df['DateOfBirth'])
    
    # Additional cleaning steps can be added here based on specific requirements
    
    return df

# Load and clean file1
df_file1 = pd.read_csv(url_file1)
df_file1_cleaned = clean_data(df_file1)

# Load and clean file2
df_file2 = pd.read_csv(url_file2)
df_file2_cleaned = clean_data(df_file2)

# Load and clean file3
df_file3 = pd.read_csv(url_file3)
df_file3_cleaned = clean_data(df_file3)

# Concatenate the cleaned dataframes
combined_df = pd.concat([df_file1_cleaned, df_file2_cleaned, df_file3_cleaned], ignore_index=True)

# Save the combined and cleaned dataframe to a new CSV file
combined_df.to_csv('combined_data.csv', index=False)

# Optional: Display summary of the combined dataframe
print("Combined and cleaned dataset:")
combined_df.head()

Combined and cleaned dataset:

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,State,Gender
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN,NaN
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN,NaN
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN,NaN
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN,NaN
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN,NaN

In [18]:
null_counts = df.isnull().sum()

In [21]:
df.head(50)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
5,5,HO81102,California,4745.181764,No,Basic,High School or Below,2011-02-14,Employed,M,...,7,Personal Auto,Personal L3,Offer1,Agent,292.800000,Four-Door Car,Medsize,A,2
6,6,IW72280,California,5035.035257,No,Basic,Doctor,2011-02-14,Employed,F,...,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,A,2
7,7,IH64929,California,4956.247235,No,Basic,High School or Below,2011-02-24,Employed,M,...,3,Personal Auto,Personal L2,Offer2,Branch,247.402353,Two-Door Car,Medsize,A,2
8,8,FM55990,California,5989.773931,Yes,Premium,College,2011-01-19,Employed,M,...,1,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,A,1
9,9,QX31376,Oregon,17114.328150,No,Extended,Master,2011-01-04,Employed,F,...,2,Corporate Auto,Corporate L3,Offer2,Agent,408.000000,Four-Door Car,Small,A,1
10,10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,2011-01-02,Employed,M,...,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A,1
11,11,GE63585,California,2420.711888,No,Basic,Bachelor,2011-02-07,Employed,M,...,1,Corporate Auto,Corporate L3,Offer1,Call Center,199.551735,Two-Door Car,Medsize,A,2
12,12,EO51920,Oregon,19955.257130,No,Extended,High School or Below,2011-01-31,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Agent,64.669515,Four-Door Car,Medsize,A,1
13,13,KR82385,California,5454.587929,No,Basic,Master,2011-01-26,Employed,M,...,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A,1
14,14,TL59568,Arizona,12836.009510,No,Premium,High School or Below,2011-02-28,Unemployed,M,...,2,Personal Auto,Personal L2,Offer3,Agent,835.200000,Two-Door Car,Medsize,A,2
15,15,CW49887,California,4626.801093,Yes,Basic,Master,2011-01-16,Employed,F,...,1,Special Auto,Special L1,Offer2,Branch,547.200000,SUV,Medsize,A,1
16,16,FH51383,California,5326.677654,No,Basic,High School or Below,2011-02-07,Employed,F,...,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A,2
17,17,TR26615,Oregon,2497.531509,No,Basic,High School or Below,2011-01-17,Unemployed,M,...,1,Corporate Auto,Corporate L2,Offer2,Branch,272.381465,Two-Door Car,Medsize,A,1
18,18,ZC97968,California,2736.352663,No,Basic,College,2011-02-14,Disabled,M,...,1,Personal Auto,Personal L3,Offer1,Agent,350.400000,Two-Door Car,Medsize,A,2
19,19,NJ54277,California,3746.751625,Yes,Extended,College,2011-02-26,Employed,F,...,1,Personal Auto,Personal L2,Offer2,Call Center,19.575683,Two-Door Car,Large,A,2
20,20,OM80593,California,7247.313475,No,Basic,Bachelor,2011-02-23,Unemployed,F,...,7,Personal Auto,Personal L3,Offer1,Call Center,499.200000,SUV,Medsize,A,2
21,21,RL65736,Oregon,6274.447705,No,Extended,High School or Below,2011-02-14,Medical Leave,F,...,3,Personal Auto,Personal L1,Offer1,Agent,408.000000,Four-Door Car,Small,A,2
22,22,EQ62488,Oregon,15031.564500,No,Basic,College,2011-01-15,Employed,F,...,8,Personal Auto,Personal L3,Offer2,Call Center,907.200000,Luxury Car,Large,A,1
23,23,NQ71171,California,5107.071054,No,Basic,Bachelor,2011-02-02,Employed,M,...,7,Personal Auto,Personal L2,Offer1,Agent,128.900320,Four-Door Car,Medsize,A,2
24,24,YK32760,Oregon,2502.209885,No,Basic,High School or Below,2011-02-15,Unemployed,M,...,1,Corporate Auto,Corporate L1,Offer1,Agent,355.200000,Four-Door Car,Medsize,A,2
25,25,AY59197,Nevada,9521.222806,No,Extended,College,2011-01-24,Employed,M,...,6,Special Auto,Special L3,Offer4,Agent,123.154160,SUV,Small,A,1
26,26,XF15789,Arizona,8869.619888,No,Basic,College,2011-02-21,Employed,F,...,9,Personal Auto,Personal L3,Offer3,Branch,228.185834,SUV,Large,A,2
27,27,MQ68407,Oregon,4376.363592,Yes,Premium,Bachelor,2011-02-28,Employed,F,...,1,Personal Auto,Personal L3,Offer2,Agent,60.036683,Four-Door Car,Medsize,A,2
28,28,CI99444,Nevada,2926.886293,No,Basic,College,2011-02-22,Employed,F,...,1,Special Auto,Special L2,Offer2,Call Center,234.774747,Four-Door Car,Medsize,A,2
29,29,BD70337,California,24706.920110,No,Basic,High School or Below,2011-01-07,Medical Leave,M,...,2,Personal Auto,Personal L2,Offer4,Call Center,313.192439,Four-Door Car,Medsize,A,1
30,30,GX19342,California,8491.465719,No,Premium,High School or Below,2011-01-28,Unemployed,F,...,3,Personal Auto,Personal L3,Offer1,Branch,1193.115879,Four-Door Car,Large,A,1
31,31,DP19210,California,9191.733549,No,Basic,Master,2011-02-08,Employed,F,...,6,Corporate Auto,Corporate L2,Offer2,Branch,567.480550,Sports Car,Medsize,A,2
32,32,OJ63606,Arizona,5776.338737,No,Premium,High School or Below,2011-01-28,Medical Leave,F,...,1,Corporate Auto,Corporate L3,Offer1,Call Center,871.457982,SUV,Small,A,1
33,33,OH23893,California,9115.571690,No,Basic,Bachelor,2011-02-15,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,173.080024,SUV,Medsize,A,2
34,34,RI76930,California,4163.040810,No,Basic,College,2011-02-12,Employed,F,...,1,Personal Auto,Personal L3,Offer2,Call Center,499.200000,SUV,Large,A,2
35,35,YK26558,California,5264.642009,No,Basic,College,2011-02-20,Unemployed,F,...,8,Special Auto,Special L3,Offer1,Branch,135.888306,Four-Door Car,Medsize,A,2
36,36,OE15005,California,3945.241604,No,Basic,College,2011-01-05,Medical Leave,M,...,1,Personal Auto,Personal L2,Offer3,Call Center,647.442031,SUV,Medsize,A,1
37,37,RA17555,Oregon,5176.730072,No,Basic,High School or Below,2011-02-07,Employed,M,...,9,Corporate Auto,Corporate L2,Offer3,Agent,232.879766,Four-Door Car,Medsize,A,2
38,38,ZI34278,Arizona,4492.233480,No,Basic,Bachelor,2011-01-28,Medical Leave,F,...,6,Personal Auto,Personal L1,Offer2,Web,292.800000,Four-Door Car,Medsize,A,1
39,39,XD72019,Oregon,8470.043225,No,Extended,Bachelor,2011-02-19,Unemployed,F,...,2,Personal Auto,Personal L2,Offer2,Web,479.312226,Four-Door Car,Large,A,2
40,40,RR93140,California,2880.348532,No,Basic,College,2011-01-05,Employed,F,...,1,Personal Auto,Personal L2,Offer2,Branch,190.642833,Four-Door Car,Medsize,A,1
41,41,BE25221,Arizona,6182.618843,No,Extended,High School or Below,2011-02-07,Medical Leave,M,...,9,Corporate Auto,Corporate L3,Offer1,Agent,473.266879,Four-Door Car,Medsize,A,2
42,42,PV62583,Nevada,9799.175061,No,Extended,College,2011-01-03,Medical Leave,M,...,6,Personal Auto,Personal L3,Offer1,Web,604.800000,SUV,Medsize,A,1
43,43,BL12371,Arizona,5790.565333,No,Basic,Master,2011-02-03,Employed,M,...,5,Personal Auto,Personal L3,Offer2,Agent,28.925840,Four-Door Car,Large,A,2
44,44,ER49844,Arizona,5041.447024,No,Basic,College,2011-01-19,Employed,M,...,5,Personal Auto,Personal L1,Offer4,Call Center,138.961963,Four-Door Car,Medsize,A,1
45,45,RI22468,Arizona,5745.943340,No,Basic,Bachelor,2011-01-22,Employed,F,...,9,Personal Auto,Personal L1,Offer3,Web,269.905129,Four-Door Car,Medsize,A,1
46,46,SY48591,Arizona,4827.776810,No,Basic,College,2011-01-17,Unemployed,F,...,6,Personal Auto,Personal L3,Offer1,Branch,326.400000,Four-Door Car,Medsize,A,1
47,47,PR23514,California,7664.219255,No,Basic,College,2011-01-23,Employed,M,...,1,Personal Auto,Personal L3,Offer2,Web,161.615740,Luxury SUV,Medsize,A,1
48,48,UY32623,California,3593.126450,No,Extended,College,2011-02-05,Disabled,F,...,1,Corporate Auto,Corporate L2,Offer1,Branch,460.800000,Four-Door Car,Large,A,2
49,49,QV30663,Nevada,9863.502214,No,Extended,Master,2011-02-28,Employed,F,...,3,Personal Auto,Personal L3,Offer3,Call Center,272.788141,SUV,Medsize,A,2

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [38]:
# Importa las bibliotecas necesarias
import pandas as pd

# Carga los datos
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df = pd.read_csv(url)

# Muestra las primeras filas del dataframe
print(df.head())

# Verifica los tipos de datos
print(df.dtypes)

# Explora las estadsticas descriptivas de las columnas numricas
print(df.describe())

# Explora las columnas categricas
for col in df.select_dtypes(include=['object', 'category']):
    print(df[col].value_counts())

   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College        2011-02-18         Employed      M  ...
1     Basic   College        2011-01-18       Unemployed      F  ...
2     Basic  Bachelor        2011-02-10         Employed      M  ...
3  Extended   College        2011-01-11         Employed      M  ...
4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

   number_of_policies     policy_type        policy  renew_offer_type  \
0                   9  Corporate Auto  Corporate L3            Offer3
1                   1   Personal Auto   Personal L3            Offer4
2                   2   Personal Auto   Personal L3            Offer3
3                   2  Corporate Auto  Corporate L3            Offer2
4                   7   Personal Auto   Personal L2            Offer1

   sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0          Agent          292.800000  Four-Door Car       Medsize
1    Call Center          744.924331  Four-Door Car       Medsize
2    Call Center          480.000000            SUV       Medsize
3         Branch          484.013411  Four-Door Car       Medsize
4         Branch          707.925645  Four-Door Car       Medsize

  vehicle_type month
0            A     2
1            A     1
2            A     2
3            A     1
4            A     1

[5 rows x 27 columns]
unnamed:_0                         int64
customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
vehicle_type                      object
month                              int64
dtype: object
         unnamed:_0  customer_lifetime_value        income  \
count  10910.000000             10910.000000  10910.000000
mean    5454.500000              8018.241094  37536.284785
std     3149.590053              6885.081434  30359.195670
min        0.000000              1898.007675      0.000000
25%     2727.250000              4014.453113      0.000000
50%     5454.500000              5771.147235  33813.500000
75%     8181.750000              8992.779137  62250.750000
max    10909.000000             83325.381190  99981.000000

       monthly_premium_auto  months_since_last_claim  \
count          10910.000000             10910.000000
mean              93.196059                15.149071
std               34.442532                 9.783520
min               61.000000                 0.000000
25%               68.000000                 7.000000
50%               83.000000                15.000000
75%              109.000000                23.000000
max              298.000000                35.000000

       months_since_policy_inception  number_of_open_complaints  \
count                   10910.000000               10910.000000
mean                       48.091934                   0.384256
std                        27.940675                   0.885589
min                         0.000000                   0.000000
25%                        24.000000                   0.000000
50%                        48.000000                   0.000000
75%                        71.000000                   0.384256
max                        99.000000                   5.000000

       number_of_policies  total_claim_amount         month
count        10910.000000        10910.000000  10910.000000
mean             2.979193          434.888330      1.466728
std              2.399359          292.180556      0.498915
min              1.000000            0.099007      1.000000
25%              1.000000          271.082527      1.000000
50%              2.000000          382.564630      1.000000
75%              4.000000          547.200000      2.000000
max              9.000000         2893.239678      2.000000
customer
ID89933    7
DQ50258    5
AM79057    5
FP86246    5
KE35335    4
          ..
VW27730    1
ZX64745    1
CK24264    1
IX18485    1
WA60547    1
Name: count, Length: 9134, dtype: int64
state
California    4183
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64
response
No     9444
Yes    1466
Name: count, dtype: int64
coverage
Basic       6660
Extended    3265
Premium      985
Name: count, dtype: int64
education
Bachelor                3272
College                 3204
High School or Below    3146
Master                   887
Doctor                   401
Name: count, dtype: int64
effective_to_date
2011-01-10    239
2011-01-27    239
2011-01-31    224
2011-01-17    221
2011-02-14    221
2011-01-26    220
2011-01-03    216
2011-01-19    212
2011-02-27    205
2011-01-28    203
2011-02-26    202
2011-01-20    201
2011-01-21    199
2011-02-04    198
2011-02-07    197
2011-02-19    196
2011-02-03    195
2011-01-11    195
2011-01-05    193
2011-02-28    192
2011-02-22    191
2011-01-02    191
2011-02-18    186
2011-02-10    186
2011-02-11    184
2011-01-23    184
2011-02-12    183
2011-01-18    183
2011-02-25    183
2011-01-08    182
2011-01-29    182
2011-01-09    182
2011-02-05    181
2011-02-01    181
2011-02-02    181
2011-02-09    180
2011-01-14    180
2011-01-24    179
2011-02-21    178
2011-01-07    178
2011-02-23    176
2011-01-30    173
2011-01-15    172
2011-01-16    172
2011-01-13    171
2011-01-01    171
2011-02-06    171
2011-01-25    168
2011-02-13    168
2011-02-16    167
2011-02-24    162
2011-02-17    162
2011-01-06    161
2011-02-20    156
2011-02-15    155
2011-02-08    155
2011-01-22    148
2011-01-12    148
2011-01-04    131
Name: count, dtype: int64
employmentstatus
Employed         6789
Unemployed       2787
Medical Leave     504
Disabled          499
Retired           331
Name: count, dtype: int64
gender
F    5573
M    5337
Name: count, dtype: int64
location_code
Suburban    6902
Rural       2116
Urban       1892
Name: count, dtype: int64
marital_status
Married     6319
Single      2958
Divorced    1633
Name: count, dtype: int64
policy_type
Personal Auto     8128
Corporate Auto    2341
Special Auto       441
Name: count, dtype: int64
policy
Personal L3     4118
Personal L2     2537
Personal L1     1473
Corporate L3    1221
Corporate L2     688
Corporate L1     432
Special L2       193
Special L3       170
Special L1        78
Name: count, dtype: int64
renew_offer_type
Offer1    4483
Offer2    3490
Offer3    1732
Offer4    1205
Name: count, dtype: int64
sales_channel
Agent          4121
Branch         3022
Call Center    2141
Web            1626
Name: count, dtype: int64
vehicle_class
Four-Door Car    5834
Two-Door Car     2118
SUV              2012
Sports Car        550
Luxury SUV        208
Luxury Car        188
Name: count, dtype: int64
vehicle_size
Medsize    7873
Small      1966
Large      1071
Name: count, dtype: int64
vehicle_type
A    10910
Name: count, dtype: int64

In [39]:
df

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,10909,IV32877,California,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [41]:
print(df.columns)

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [42]:

# Crea una tabla pivot
pivot_table = df.pivot_table(values='income', index='sales_channel', aggfunc='sum')

# Redondea el total de ingresos a 2 decimales
pivot_table = pivot_table.round(2)

# Muestra la tabla pivot
print(pivot_table)

                  income
sales_channel
Agent          152490152
Branch         113775608
Call Center     81055004
Web             62200103

In [22]:
# null_counts = df.isnull().sum()

In [28]:
# null_counts

In [29]:
# Display column names and data types
# print(df.info())

In [31]:
# Summary statistics for numerical columns
# df.describe()

In [32]:
# Check for missing values
# df.isnull().sum()
# df.nunique()

In [33]:
# Ejemplo: Renombrar columnas
# df.rename(columns={'State': 'Estado', 'Response': 'Respuesta'}, inplace=True)
# df

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [44]:
# Crea una tabla pivot
pivot_table = df.pivot_table(values='customer_lifetime_value', index=['gender', 'education'], aggfunc='mean')

# Redondea el valor promedio de vida del cliente a 2 decimales
pivot_table = pivot_table.round(2)

# Muestra la tabla pivot
print(pivot_table)

                             customer_lifetime_value
gender education
F      Bachelor                              7874.27
       College                               7748.82
       Doctor                                7328.51
       High School or Below                  8675.22
       Master                                8157.05
M      Bachelor                              7703.60
       College                               8052.46
       Doctor                                7415.33
       High School or Below                  8149.69
       Master                                8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here